* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

body {
	color: #424242;
}

.NavBar {
	display: flex;
	justify-content: space-between;
	height: 50px;
}

.NavBar-BG {
	background-color: #424242;
}

.nav-text {
	color: white;
}

.nav-text:hover {
	color: white;
	font-weight: bolder;
}

.nav-logout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.Title-Name {
	color: #3f941a;
	font-size: 36px;
	font-weight: bolder;
}

.BTN {
	background-color: #f36919;
	border-width: 2px;
	border-style: solid;
	color: white;
	padding: 15px 100px;
	border-radius: 5px;
	font-weight: bold;
}

.BTN:hover {
	background-color: #f3f6f4;
	border-width: 2px;
	border-style: solid;
	border-color: #f8d3be;
	color: #f36919;
}

.BTN:active {
	background-color: #f36919;
	color: white;
}

.login-register {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding-bottom: 5%;
}

.card-login {
	padding: 20px;
}

.tab-login {
	width: 350px;
}

.validation-text {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f44336;
	font-size: 12px;
}

.BTN-login-register {
	background-color: #eeeeee;
	border-width: 2px;
	border-color: #5b5b5b;
	border-style: solid;
	color: #5b5b5b;
	padding: 10px;
	border-radius: 8px;
	font-weight: bold;
	width: 100%;
}

.BTN-login-register:hover {
	background-color: #5b5b5b;
	border-width: 2px;
	border-color: #5b5b5b;
	border-style: solid;
	color: #eeeeee;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
	color: #bcbcbc;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
	color: #424242;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:visited {
	color: #424242;
}

.modal-container {
	max-height: 60vh;
	padding-left: 20px;
	padding-right: 60px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
